:root {
    --skodaGreen: #4AA82E;
    --mainShadow: 2px 2px 6px#555555;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0);
}



.exit{
    position: absolute;
    top: -1em;
    right: 0.7em;
    width: 10vw;
    height: 10vh;
}


