<div class="top">      
  <img id="sideMenu" src="assets/img/baseline-menu-24px.svg" alt="menu" style="
      width: 6vh;
      ">
  <div style="
        display: flex;
        justify-items: center;">
    <img (click)="search()" src="assets/img/baseline-search-24px.svg" alt="search" style="width: 8vh;">
    <input id="searchBox" value="" class="search" type="text" >
  </div>
</div>
<div id="sideBlock" class="side" style="width: 60%;">
  <img id="logoBlock" class="logo" src="assets/img/lgs.jpg">
  <img class="clearBut" id="exitButton" src="assets/img/baseline-clear-24px.svg"
       alt="exit" style="width: 2em;">
  <li class="list" style="
      font-size: 1.8em;
      text-align: center;">
      <!-- 
        <a href="./index.html">Kalendář</a>
        <a href="./index.html">Čtečka QR kódů</a>
        <a href="./index.html">Účet</a>
        <a href="./index.html">O nás</a>
       -->
      <div (click)="changeGlobalState(-1)">Diary</div>
      <div (click)="changeGlobalState(1)">QR-Code Reader</div>
      <div (click)="changeGlobalState(-1)">Acconut</div>
      <div (click)="tryShowInstallDialog()">Add to Home screen</div>
      <div (click)="changeGlobalState(-1)">Aboat app</div>
  </li>
</div>
<script type="text/javascript" src="./move.js"></script> 