.top {
    position: sticky;
    top: 0;
    left: 0;
    right:0;
    background-color: #4ba82e;
    padding: 1rem;
    height: 10vh;
    align-items: stretch;
    z-index: 10;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: space-between;
}
.side{
    position: fixed;
    /* width: 60%; */
    width: 0px;
    min-height: 100%;
    top: 0px;
    left: 0px;
    background-color: #4ba82e;
    overflow: hidden;
    overflow-y: auto;
    border-right: 2px  solid black;
    left: -2px;
    transition:width 150ms ease-in-out;
    z-index: 10;
}
.clearBut{
    position: absolute;
    top: 1em;
    right: 1em;
}
.list{
    margin: 5vw 0 0 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.8rem;
    text-align: center;

   /*  text-decoration-line: none;
    height: 100%; */
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    
    position: relative;
}
.list *{
    color: white;
    cursor: none;
    text-decoration: none;
    padding: 1rem;
}
.logo{
    position: relative;
    width: 100%;
    height:auto;
    
    top: 0px;
    left: 0px;
}.search{
    position: static;
    padding-left: 0.7rem;
    margin: auto 3%;
    border-radius: 5vw;
    height: 40%;
    width: 40vw;
    font-size: 1.2rem;
}