.login {
    position: fixed;
    left: 0px;
    right: 0px;
    background: #eceeee;
    border: 1px solid #4aa82E;
    border-radius: 1vw;
    height: 25vw;
    margin: 0 auto 0;
    width: 24vw;
    z-index: 20;
  }
  input[type="Password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #4AA82E;
    height: 3.3vw;
    margin: 2.85vw 0 0 2.85vw;
    padding-left: 2vw;
    transition: box-shadow 0.3s;
    width: 18vw;
  }
  input[type="Password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px #4aa82E ;
    outline: 0;
  }
  
  input[type="submit"] {
    width:18vw;
    height:3.5vw;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:1.5vw;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #37a69b;
    padding-top:0.5vw;
    margin: 2vw 0 0 2.85vw;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #4AA82E;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius:1vw;
    border-bottom-left-radius:1vW;
    box-shadow: inset 0px 1px 0px #4AA82E, 0px 0.5Vw 0px 0px #497a78, 0px 10px 5px #999;
  }
  .support {
    color: #7f7f7f;
    display: inline-block;
    font: 1.65vw sans-serif;
    margin:2.5vw 0 0 4.3vw; 
    position: relative;
    
  }