.apRec{
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr  3fr;
    grid-template-areas: 
    "name name"
    "owner time";
    margin: 3%;
    padding: 1em 0.8em;
    text-align: center;
    box-shadow: var(--mainShadow);
    
    background-color: #eee;
    font-family: Helvetica;
    font-size: 1.2em;
}
.apRec .time{
    grid-area: time;
    text-align: right;
}
.apRec .name{
    grid-area: name;
    word-wrap: break-word;
    font-size: 1.8em;
}
.apRec .owner{
    grid-area: owner;
    text-align: left;
}
.popUpBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 70vh;
}