<div id="record containter" style="
    display: flex;
    margin: 4vw;
    flex-flow: column;
    color: #4AA82E;">

    <div class="apRec">
        <div class="name"> important meting</div>
        <div class="owner">Jan Nykl</div>
        <div class="time">08:15 - 08:45</div>
    </div>
    <div class="apRec">
        <div class="name"> important meting</div>
        <div class="owner">Jan Nykl</div>
        <div class="time">08:15 - 08:45</div>
    </div>
    <div class="apRec">
        <div class="name"> important meting</div>
        <div class="owner">Jan Nykl</div>
        <div class="time">08:15 - 08:45</div>
    </div>

</div>
<app-still-button (click)="showAddMeetingDialog()"> <!-- fixed main button  -->
    <img src="assets/img/brk.png" alt="brk" style="
          width:15vw;">
  </app-still-button>