<!-- <div id="dim" class="dimmer" style="display:none;  background-color: gray;"></div> -->

<div [ngSwitch]="globalState">
    <div style="margin-top:10vh; padding: 1em 0"></div>
    <!-- <app-login-menu *ngIf="DEBUG_notSigned"></app-login-menu> -->
    <div *ngIf="DEBUG_notSigned" class="login" style="margin-top: 50%; border-radius: 10px">
        <input type="text" placeholder="Uživatelské jméno" id="username" style="font-size:20px">
        <input type="password" placeholder="Heslo" id="password" style="font-size:20px">
        <input type="submit" (click)="aut()" value="Přihlásit" style="font-size:30px">
        <a href="#" class="support">Potřebujete pomoct?</a>
    </div>
    <app-qr-scanner *ngSwitchCase="1" (GlobaStateChange)=changeState($event) (SetRoomId)=changeRoomId($event)>
    </app-qr-scanner>
    <app-list-last *ngSwitchCase="2"></app-list-last>
    <app-room-info [RoomID]="roomId" *ngSwitchCase="3"> </app-room-info>
    <app-schedule *ngSwitchCase="4" ></app-schedule>
    <app-header [InstallDialog]="DeferredPrompt" (GlobaStateChange)=changeState($event)></app-header>


    <div mat-raised-button *ngSwitchCase="1" (click)="changeState(2)" class="fixedButtonCircle">
        <img redirect="./end" src="../../assets/img/baseline-undo-24px.svg" alt="back">
    </div>
    <!-- <button mat-mini-fab  *ngSwitchCase="-3"  (click)="showAddMeetingDialog()" class="fixedButtonCircle">
        <div style="width:20vw">
            <img src="../../assets/img/baseline-add-24px.svg" alt="brk">
        </div>        
    </button> -->
    <div mat-raised-button *ngSwitchCase="2" (click)="changeState(1)" class="fixedButtonCircle">
        <img redirect="./end" src="../../assets/img/brk.png" alt="back">
    </div>
</div>

<div style="width:100%; height: 7vh;"></div>