html, body{
    min-height: 100%;
    overflow-x: hidden; 
}
body{
    position: relative;
}


.fixedButtonCircle{
    position: fixed;
    width: 20vw;
    height: 20vw;
    bottom: 5vw;
    right: 5vw;
    border-radius: 50%;
    background-color: #4AA82E; 
    box-shadow:  2px 2px 6px#555555;

    display: flex;
    align-items: center;
    z-index: 10;
}
.fixedButtonCircle img{
    margin: auto;
    width:15vw;
    height:15vw;
}
.dimmer{
    position: fixed;
    /* display: none; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;;
    z-index: 15;
    background-color: rgba(0,0,0,0.5);
}






.login {
    position: fixed;
    background: #eceeee;
    border: 1px solid #4aa82E;
    border-radius: 1vw;
    height: 60vw;
    
    margin: 1vw auto 0;
    width: 72vw;
    z-index: 20;

    left: 50%;
    transform: translate(-50%, 0);
  }
  input[type="Password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 2vw;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #4AA82E;
    height: 9.9vw;
    margin: 5vw 0 0 8.55vw;
    padding-left: 2vw;
    transition: box-shadow 0.3s;
    width: 54vw;
  }
  input[type="Password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 16px 9px #4aa82E ;
    outline: 0;
  }
  
  input[type="submit"] {
    width:54vw;
    height:10.5vw;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:1.5vw;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #37a69b;
    padding-top:0.5vw;
    margin: 6vw 0 0 8.55vw;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #4AA82E;
    background-image: linear-gradient(top,#3db0a6,#3111);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius:1vw;
    border-bottom-left-radius:1vW;
    box-shadow: inset 0px 1px 0px #4AA82E, 0px 0.5Vw 0px 0px #497a78, 0px 10px 5px #999;
  }
  .support {
    color: #7f7f7f;
    display: inline-block;
    font: 4vw sans-serif;
    margin:5vw 0 0 16vw; 
    position: relative;
    
  }