<!-- <div class="wiewSwitch">
    <div id="howrButton" style="border-right: solid white;">
        <p>Day</p>
    </div>
    <div id="monthButton" style="border-left: solid white;">
        <p>Month</p>
    </div>
</div> -->

<div class="planWiew" id="wiewBox">
    <!-- <div class="siderContiner">
        <div class="line">
            <dir class="time">8</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner">
        <div class="line">
            <dir class="time">9</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner">
        <div class="line">
            <dir class="time">10</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner" style="background-color:red;" id="slide-5">1</div>
    <div class="siderContiner" style="background-color:green;">2</div>
    <div class="siderContiner" style="background-color:blue;">3</div> -->
    <div *ngFor="let wiewData of WiewsData;" class="siderContiner">
        <div class="line">
            <dir class="time">{{wiewData.time}}</dir>

        </div>
        <div class="baseLine">
            <div *ngFor="let meeting of wiewData.data;" class="recordBase">
                <div [ngStyle]="{'width.px': meeting.meetingLength,
                                        'left.px': meeting.start}" class="record">
                    <div class="recordBar">
                        <div class="recordBox">
                            <h2>{{meeting.name}}</h2>
                            <p>{{meeting.owner}}</p>
                           <!--  <p (click)="showMeetingInfo(meeting.id)" class="underline">More info</p> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="wiewSwitch">
    <div id="howrButton" style="border-right: solid white;">
        <span>Day</span>
    </div>
    <div id="monthButton" style="border-left: solid white;">
        <span>Month</span>
    </div>
</div>