<div class="wiewSwitch">
    <div id="howrButton" style="border-right: solid white;">
        <p>Day</p>
    </div>
    <div id="monthButton" style="border-left: solid white;">
        <p>Month</p>
    </div>
</div>


<div class="planWiew">
    <div class="siderContiner">
        <div class="line">
            <dir class="time">8</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner">
        <div class="line">
            <dir class="time">9</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner">
        <div class="line">
            <dir class="time">10</dir>
            <div class="record"></div> 
        </div>
    </div>
    <div class="siderContiner" style="background-color:red;">1</div>
    <div class="siderContiner" style="background-color:green;">2</div>
    <div class="siderContiner" style="background-color:blue;">3</div>
</div>