<div class="blockContainer" style="position: relative;">
  <div style="margin: 0.5rem">
    <h2 class="underline">
      AboutApp:
    </h2>
    <p>App for scaning</p>
    <p>Created by: ŠkodaAuto</p>
  </div>
</div>

<div class="blockContainer" style="position: relative;">
    <div style="margin: 0.5rem">
      <h2 class="underline">
        Use:
      </h2>
      <ul>
          <li>Open app</li>
          <li>Scan QR code</li>
          <li>Check availability of room</li>
          <li>Book room for needed time interval with plus button</li>
      </ul>
    </div>
  </div>

<div class="blockContainer" style="position: relative;">
  <div style="margin: 0.5rem">
    <h2 class="underline">
      Administrator:
    </h2>
    <p>Name: Someone</p>
    <p>Email: support@skoda.cz</p>
    <p></p>
  </div>
</div>

<app-still-button (click)="changeGlobalState(1)">
    <!-- fixed main button  -->
    <img src="assets/img/brk.png" alt="brk" style="
          width:15vw;">
</app-still-button>