
.fixedButtonCircle{
    position: fixed;
    width: 20vw;
    height: 20vw;
    bottom: 5vw;
    right: 5vw;
    border-radius: 50%;
    background-color: #4AA82E; 
    box-shadow:  2px 2px 6px#555555;

    display: flex;
    align-items: center;
    z-index: 10;
}
img{
    margin: auto;
    width:15vw;
    height:15vw;
}