*{
    font-family: Helvetica;
    color: #505050;
}

/* .fixedButtonCircle{
    position: fixed;
    width: 20vw;
    height: 20vw;
    bottom: 5vw;
    right: 5vw;
    border-radius: 50%;
    background-color: #4AA82E; 
    box-shadow:  2px 2px 6px#555555;

    display: flex;
    align-items: center;
    z-index: 10;
} */

.blockContainer{
    width: 94%;
    background-color: white;
    margin: 1em auto;
    border-radius: 0.3em;
    box-shadow:  2px 2px 6px#555555;
}

.subBlockContainer{
    padding: 1.5em;
}
.subBlockContainer :not(utilitContainer){
    margin: 0;
}
.roomInfo h2{
    font-size: 3em;
    width: fit-content;
    border-bottom: solid #b0b0b0;
}
.roomInfo h3{
    font-size: 1.2em;
}
.underline{
    width: fit-content;
    border-bottom: solid #b0b0b0 1px;
}
.nextIn h2{
    font-size: 1.5em;
    width: fit-content;
    border-bottom: solid #b0b0b0;
}
.nextIn h3{
    text-align: center;
    font-size: 2.5em;
}
button{
    width: 100%; 
    height: 2.5em; 
    background-color: #4AA82E;
    color: white;
}

.faults h2{
    font-size: 1.5em;
    width: fit-content;
    border-bottom: solid #b0b0b0;
}
.faults h3{
    font-size: 2em;
    text-align: center;
    margin-top: 0.5rem;
    color: #F44336;
}   

.utilitContainer{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 1.5rem auto 0 auto;
}
.utilitContainer div img{
    width: 3em;
    height: 3em;
}


.faults .moreFaults p{
    display: block;
    padding-left: 10%;
    font-weight: normal;
}
.faults .moreFaults{
    position: relative;
    margin: 0.8em 0;
    display: inline-block;
    font-weight: bold;
}
.faults .faultNote{
    text-align: right;
}

.popUp{
    position: fixed;
    z-index: 20;
    background-color: white;
    border-radius: 0.3em;   

    margin: auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
}
.popUp div{
    margin: 1.5em;
}
