<div>
  <div class="blockContainer">
    <dir class="roomInfo subBlockContainer">
      <h2>ID:{{RoomInfo.id}}</h2>
      <h3>Seats: {{RoomInfo.chair}}</h3>
      <h3>Support: {{RoomInfo.contact}}</h3>
      <p *ngIf="moreInfoMode">Lorem ipsum dolor sit amet, magna ignota vivendum vel ei, per illum solet nominati eu.
        Impetus malorum ocurreret et sed, eam ex ubique debitis feugait. Probatus eleifend pro in, mea nullam intellegat
        eu. Accusamus suscipiantur eam ne.</p>
      <p *ngIf="!moreInfoMode" class="underline" (click)="moreInfo()">Show more</p>
      <p *ngIf="moreInfoMode" class="underline" (click)="moreInfo()">Show less</p>
    </dir>

  </div>
  <div class="blockContainer" style="background-color: rgba(255,255,255,0);">
    <dir class="nextIn subBlockContainer" style="
      background-color: white;
      margin-bottom: 0;
      box-shadow:  2px 2px 6px#555555;
      z-index: 2;">
      <h2>Next In:</h2>
      <h3>20 min</h3>
      <button *ngIf="showShedule" mat-raised-button style="margin: auto; border: 0px;" (click)="showSchedule()">Hide
        schedule</button>
      <button *ngIf="!showShedule" mat-raised-button style="margin: auto; border: 0px;" (click)="showSchedule()">Show
        schedule</button>

    </dir>
    <app-schedule *ngIf="showShedule"></app-schedule>
  </div>
  <div class="blockContainer">
    <dir class="faults subBlockContainer">
      <h2>Utility and faults:</h2>
      <div class="utilitContainer" style="margin: 1em auto 0 auto;">
        <div *ngFor="let utility of UtilityImageURLList;">
          <img src={{utility}} alt="utility picture">
        </div>
        <!--  <div style="position:relative;">
          <img style="position:absolute" src="../../assets/img/utility/dvř.png" alt="">
        </div>
        <div>
          <img src="../../assets/img/utility/rpr.png" alt="">
        </div> -->
      </div>
      <h3>2 Reported Faults</h3>
      <button mat-raised-button style="margin: auto; border: 0px;" (click)="reportFaultUtility()">Report
        Failure</button>
      <div *ngIf="moreFaultsMode">
        <div class="moreFaults">
          Fault header
          <p>Lorem ipsum dolor sit amet, magna ignota vivendum vel ei, per illum solet nominati eu. Impetus malorum
            ocurreret et sed</p>
          <p class="faultNote">examle@skoda.com</p>
          <p class="faultNote">7.4.2019</p>
        </div>
        <div class="moreFaults">
          Fault header
          <p>Lorem ipsum dolor sit amet, magna ignota vivendum vel ei, per illum solet nominati eu. Impetus malorum
            ocurreret et sed</p>
          <p class="faultNote">examle@skoda.com</p>
          <p class="faultNote">7.4.2019</p>
        </div>
      </div>
      <p *ngIf="!moreFaultsMode" class="underline" style="margin-top: 0.8rem;" (click)="moreFaults()">Show more</p>
      <p *ngIf="moreFaultsMode" class="underline" (click)="moreFaults()">Show less</p>
    </dir>
  </div>
</div>

<!-- <button mat-icon-button><mat-icon>menu</mat-icon></button>
<button mat-mini-fab class="fixedButtonCircle">
  <img src="../assets/img/baseline-add-24px.svg" alt="">
</button> -->

<app-still-button (click)="showAddMeetingDialog()"> 
    <img src="../../assets/img/baseline-add-24px.svg" alt="brk" style="
      width:15vw;">
</app-still-button>