<div *ngIf="SearchError == 1"><!-- show data insted of "not found" -->
  <div class="blockContainer">
    <dir class="roomInfo subBlockContainer">
      <h2>ID: {{DislayedRoomName}}</h2>
      <h3>Seats: {{RoomInfo.chair}}</h3>
      <h3>Support: {{RoomInfo.contact}}</h3>
      <p *ngIf="moreInfoMode">{{RoomInfo.description}}</p>
      <p *ngIf="!moreInfoMode" class="underline" (click)="moreInfo()">Show more</p>
      <p *ngIf="moreInfoMode" class="underline" (click)="moreInfo()">Show less</p>
    </dir>

  </div>
  <div class="blockContainer" style="background-color: rgba(255,255,255,0);">
    <dir class="nextIn subBlockContainer" style="
      background-color: white;
      margin-bottom: 0;
      box-shadow:  2px 2px 6px#555555;
      z-index: 2;">
      <h2>Next In:</h2>
      <h3 [ngStyle]="{'color': NextInColor}">{{NextInText}}</h3>
      <button *ngIf="showShedule" mat-raised-button style="margin: auto; border: 0px;" (click)="showSchedule()">Hide
        schedule</button>
      <button *ngIf="!showShedule" mat-raised-button style="margin: auto; border: 0px;" (click)="showSchedule()">Show
        schedule</button>

    </dir>
    <app-schedule *ngIf="showShedule" [RoomName]="DislayedRoomName"></app-schedule>
  </div>


  <div class="blockContainer">
    <div class="faults subBlockContainer">
      <h2>Utilities:</h2>
      <div class="utilitContainer" style="margin: 1em auto 0 auto;">
        <div *ngFor="let utility of UtilityImageURLList;">
          <img src={{utility}} alt="utility picture">
        </div>
      </div>
    </div>
  </div>

  <div class="blockContainer">
    <div class="faults subBlockContainer">
      <h2>Faults:</h2>
      <h3 *ngIf="FaultList.length != 0">{{FaultList.length}} Reported Faults</h3>
      <h3 *ngIf="FaultList.length == 0" style="color:#4AA82E;">No Faults Reported</h3>
      <button mat-raised-button style="margin: auto; border: 0px;" (click)="reportFaultUtility()">Report
        failure</button>
      <div *ngIf="moreFaultsMode">
        <div *ngFor="let fault of FaultList;" class="moreFaults">
          {{fault.name}}
          <p>{{fault.description}}</p>
          <p class="faultNote">{{fault.email}}</p>
          <p class="faultNote">{{fault.reportDate}}</p>
        </div>
      </div>
      <p *ngIf="!moreFaultsMode" class="underline" style="margin-top: 0.8rem;" (click)="moreFaults()">Show more</p>
      <p *ngIf="moreFaultsMode" class="underline" (click)="moreFaults()">Show less</p>
    </div>
  </div>

  <app-still-button (click)="showAddMeetingDialog()"> <!-- fixed main button  -->
    <img src="../../assets/img/baseline-add-24px.svg" alt="brk" style="
          width:15vw;">
  </app-still-button>
</div>

<div *ngIf="SearchError == 2"><!-- server return id not found or no internet conection -->
  <div class="blockContainer" style="position: relative;">
    <div style="margin: 1rem">
      <p style="
          color:#4AA82E;
          text-align: center;
          font-size: 2.5rem;
          ">
        ROOM NOT FOUND
      </p>
    </div>

  </div>
</div>