*{
    font-family: Helvetica;
    
}

.utilityContainer{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.roomInfo{
    color: #505050;
    position: relative;
    box-shadow: var(--mainShadow);
    min-height: 38vh;
    padding: 0 0 2em 0;
    /* background-color: #E0E0E0; */
}
.roomInfo *{
    margin: 0;
}
.roomInfo h2{
    width: fit-content;
    font-size: 3.5em;
    border-bottom: solid #b0b0b0;
}
.roomInfo h3{
    font-size: 1.4em;
}
.roomInfo p{
    font-size: 1em;
}
.planWiew {
    position: relative;
    left: 0px;
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    color: #505050;
}
.siderContiner{
    min-width: 100%;
    height: 100%;
}
.line{
    height: 50%;
    width: 100%;
    border-bottom: solid #505050;;
}
.record{
    position: absolute;
    width: 300px;
    height: 10%;
    bottom: 45%;
    background-color: gold; 
    border-radius: 5em;
}
.time{
    font-size: 5em;
    text-align: center;
    margin:  auto;
}
.wiewSwitch {
    position: relative;  
    width: 100%;
    height: 8vh;
    display: flex; 
}
.wiewSwitch div {
    width: 50%;
    background-color: #4AA82E;
    color: white;
    font-size: 2em;
    text-align: center;
}
.wiewSwitch div p{
   margin: auto;
}
