
<!--  
<div class="roomInfo"> 
    <h2>ID:24</h2>
    <h3>Seats: 4</h3>
    <h3>Support: nykl.servis@skoda.cz</h3>
    <p>description</p>
    <div class="utilityContainer">

    </div>
    <div class="wiewSwitch">
        <div id="howrButton" style="border-right: solid white;">
            <p>Hour</p>
        </div>
        <div id="monthButton" style="border-left: solid white;">
            <p>Month</p>
        </div>
    </div>
    
</div>

-->
<div style="">
  <div class="roomInfo"> 
      <h2>ID:24</h2>
      <h3>Seats: 4</h3>
      <h3>Support: nykl.servis@skoda.cz</h3>
      <p>Lorem ipsum dolor sit amet, nec sanctus postulant contentiones et, duis nostrud fierent cu has. Mutat minim indoctum quo id. Ne quo illum accusata percipitur. Appareat honestatis definitionem nec et. Te civibus fierent scaevola duo, qui eu erant laoreet postulant. Ius ut nostro aliquando similique, per at agam summo dolor. Inermis offendit eu eum, cu assum aeterno sit, ei nec erat meliore expetendis.</p>
      <div class="utilityContainer"></div>
      
  </div> 
  <div class="wiewSwitch">
      <div id="howrButton" style="border-right: solid white;">
          <p>Day</p>
      </div>
      <div id="monthButton" style="border-left: solid white;">
          <p>Month</p>
      </div>
  </div>
  <div class="planWiew">
      <div class="siderContiner">
          <div class="line">
              <dir class="time">8</dir>
              <div class="record"></div> 
          </div>
      </div>
      <div class="siderContiner">
          <div class="line">
              <dir class="time">9</dir>
              <div class="record"></div> 
          </div>
      </div>
      <div class="siderContiner">
          <div class="line">
              <dir class="time">10</dir>
              <div class="record"></div> 
          </div>
      </div>
      <div class="siderContiner" style="background-color:red;">1</div>
      <div class="siderContiner" style="background-color:green;">2</div>
      <div class="siderContiner" style="background-color:blue;">3</div>
  </div>
</div>